.cancel .card{
    margin-bottom: 0px;
}
h1{
    font-size: 0.7rem;
    font-family:Gabarito;
  
  
}
.title{
    font-family: 'Times New Roman', Times, serif;
    font-size:3rem;
}
.letter{
    color:black;
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif !important ;
}

@media print {
    .letter{
        padding: 0px !important;
        margin:  0px !important;
    }
}

.headclass{
    background-size: cover;
   z-index: 3; 

}

.veh-100{
    height: 70vh;
}
.headhold{
    background-color: rgba(255, 255, 255, 0.708);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(5px);

}

.abrab-head img{
    mix-blend-mode:multiply;
    background-color: white;
    opacity: 0.8;
    
}
// .foothold{
//     position: absolute;
//     bottom: 0px;
// }
h1 small{
    font-size:0.8rem
}


.card {
    color: black !important;

}
::ng-deep{
    .test{
        border-radius: 40px;
    }
}
