:host ::ng-deep .p-toast{
    width:20rem;
  }

.headhold{
 position: static;
 top: 0px;
 z-index: 2;
  background-color: white;
}
.foothold{
  display: flex;
  justify-content: space-between;
 
  
  border-top:1px solid #52525239;
}
.foothold h1{
  font-size: 0.7rem;
  text-align: left;

}
.auth-wrapper .auth-content{
 
}
@media (min-width:600px){
  .auth-wrapper .auth-content {
    width: 800px;
    margin-top: 5%;
    
  }
  .phase1{
    width: 300px
  }

  .profile-photo{
    display: flex;
    flex-direction: column;
  }
  
}
@media (max-width:599px){
  .phase1{
    width: 100%;
  }
  .auth-wrapper .auth-content{
    margin-top: 15%;
  }
}


.card-body{
  margin: 30px;
}

h1 small{
  font-size:0.8rem
}

.auth-wrapper{
  z-index: 1 !important;
}