:host ::ng-deep .p-toast{
    width:20rem;
  }
  :host ::ng-deep .message{
    z-index: 3;

  }
 
  .foothold{
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    bottom: 0;
    border-top:1px solid #52525239;
  }
  .headhold{
    position: fixed;
    top: 0;
  }
  .foothold h1{
    font-size: 0.7rem;
    text-align: left;
  }
  .auth-wrapper{
    z-index: 1 !important;
  }
  
  h1 small{
    font-size:0.8rem
  }