<div class="d-flex headhold shadow-sm container-fluid p-2 ">
  <div class="text d-flex col-6" >
    <a routerLink="../landing" class="d-flex">
      <img src="../../../assets/images/AbrabLogo2.png" width="45px" class="rounded-circle" alt="">
      <h1 class=" bg-opacity-10 align-self-center fs-6">ABRAB NIGERIA LIMITED<br><small>RC NO:1870243</small></h1>
    </a>      
</div>
  
</div>


<div class="auth-wrapper">
 
    <div class="auth-content">
      <div class="auth-bg">
        <span class="r"></span>
        <span class="r s"></span>
        <span class="r s"></span>
        <span class="r"></span>
      </div>
      <div class="card">
        <div class="card-body text-center">
          <ng-template #successTpl> Image Uploaded </ng-template>
          
          <ng-template #dangerTpl>
            
            Upload Failed
          </ng-template>
          <div class="mb-4">
            <img class="auth-icon" alt="" width="100" src="../../../assets/images/AbrabLogo.png">
          </div>
          <form [formGroup]="LoginForm">
          <h3 class="mb-4">Login</h3>
          <div class="input-group mb-3">
            <input type="email" name="email" formControlName="email" class="form-control" placeholder="Email" />
          </div>
          <div class="input-group mb-5">
            <input type="password" name="password" formControlName="password" class="form-control" placeholder="Password" />
          </div>
         
          <button  (click)="submit()" class="btn btn-primary mb-4">Login</button>
          
          
          <div class="buttons">
            
            <div class="card flex justify-content-center gap-2">
              <p-toast></p-toast>
             </div>
          </div>
          <p class="mb-0 text-muted">
            Don’t have an account? <a [routerLink]="['/guest-signup']">Sign up</a>
          </p>
        </form>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex foothold gap-5  container-fluid p-2 ps-4 pe-4 ">
    <div class="text" >
    <h1 class=" fw-bold bg-opacity-10"><u>Contact Us</u><br> <span class="feather icon-phone"> 0814 585 6651</span><br><small><span class="feather icon-mail">: abrabnigerialtd@gmail.com</span></small></h1>
</div>
    <div class="buttons d-flex ms-auto">
      <small style=" " class="align-self-end">
        <u>Address</u><br>  Opposite Michael Block Industry opposite Kosa Kosa filling Station. Lambata Niger State. 
      </small>
    </div>
</div>
  