<body>
    <div class="containerr">

        <div *ngIf="landing" class="d-flex headhold shadow-sm container-fluid p-2 mb-2">
            <div class="text d-flex col-6">
                <img src="../../../assets/images/AbrabLogo2.png" width="45px" class="rounded-circle" alt="">
                <h1 class=" bg-opacity-10 align-self-center fs-6">ABRAB NIGERIA LIMITED<br><small>RC NO:1870243</small>
                </h1>
            </div>
            <div class="buttons mx-auto">
                <button (click)="login()" type="button"
                    class="mx-auto btn btn-sm btn-outline-success btn-rounded ">Login<span
                        class="feather icon-arrow-right"></span></button>&nbsp;
                <button (click)="signup()" type="button" class="mx-auto btn btn-sm btn-success btn-rounded ">Sign
                    Up<span class="feather icon-arrow-right"></span></button>

            </div>
        </div>

        <div *ngIf="landing" class="herosec vh-100 text-center ">
            <div class="sub">
                <div class="herotext">
                    <h1 class="display-1 fw-bold"><span class="text-muted">Welcome to</span><br> Abrab Nigeria Limited
                    </h1>
                    <h3>We share our wealth with you...</h3>
                </div>
                <div class="d-flex">
                    <button class="btn mx-auto btn-success p-3" (click)="proceed()">Get Started&nbsp;<span
                            class="feather icon-log-in"></span></button>
                    <button class="btn mx-auto btn-success p-3" (click)="switchtoabout()">About Us&nbsp;<span
                            class="feather icon-users"></span></button>

                </div>

            </div>
        </div>
        <div *ngIf="about" class="aboutsec vh-100 ">
            <div class="sub  p-4">
                <div class="col-12 d-flex">
                <img src="../../../assets/images/AbrabLogo.png" width="100px" class="rounded-circle" alt="">
      <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="switchtolanding()"></button>

            </div>
                <h1 class="text-center">Welcome to ABRAB Nigeria Limited</h1>
                <h3>Your Premier Partner in Financial Services and
                    Logistics Excellence!</h3>
                <p> At ABRAB Nigeria Limited , we are dedicated to driving economic growth by providing innovative
                    financial solutions that empower businesses across Nigeria. Specializing in lending, funding capital
                    investments, and offering top-tier logistics services, we are committed to being the catalyst for
                    your success. </p>
                <div class="d-flex flex-wrap">
                    <div class="mission">
                        <h4 class="text-center">
                            Our Mission
                        </h4>
                        <p>
                            Our mission is to be a transformative force in the business landscape of Nigeria. We aim to
                            empower businesses through strategic financial support and efficient logistics, fostering
                            growth and sustainability in every sector.

                        </p>
                    </div>
                    <div class="context border-top p-2 card">
                        <h4 class="text-center ">
                            What Sets Us Apart
                        </h4>
                        <div class="d-flex gap-3 flex-wrap col-12">
                            <div class="sub-context ms-auto shadow-sm m-1 p-4 col-lg-3">
                                <h5>Comprehensive Financial Solutions</h5>
                                <p>
                                    From small enterprises to large corporations, we offer a range of financial services
                                    tailored to meet the diverse needs of businesses. Whether you require working
                                    capital, investment funding, or customized financial solutions, we have you covered.

                                </p>
                            </div>
                            <div class="sub-context shadow-sm m-1 p-4 col-lg-3">
                                <h5> Nationwide Reach</h5>
                                <p>
                                    With a robust presence in all 36 states of Nigeria, we take pride in our extensive
                                    network that enables us to serve businesses throughout the country. Our local
                                    expertise allows us to understand regional nuances and offer solutions that resonate
                                    with the unique challenges faced by businesses in different locations.
                                </p>
                            </div>
                            <div class="sub-context shadow-sm m-1 p-4 col-lg-3">
                                <h5> Excellence in Logistics</h5>
                                <p>
                                    Recognizing the pivotal role logistics plays in business operations, we have a
                                    dedicated subgroup that ensures seamless transportation and supply chain management.
                                    Our logistics arm spans across the entire nation, guaranteeing reliable and
                                    efficient services for businesses of all sizes.
                                </p>
                            </div>
                        </div>
                        <div class="d-flex flex-wrap gap-3 col-12">
                            <div class="sub-context shadow-sm m-1 p-4 col-lg-3">
                                <h5>Customer-Centric Approach</h5>
                                <p>
                                    At ABNL, we prioritize the needs of our clients. Our customer-centric approach means
                                    that we work closely with businesses to understand their goals, challenges, and
                                    aspirations. This collaborative partnership ensures that our financial and logistics
                                    solutions are not just services but pathways to sustainable success.

                                </p>
                            </div>
                            <div class="sub-context shadow-sm m-1 p-4 col-lg-3">
                                <h5> Our Approach</h5>
                                <p>
                                    Our approach is rooted in a commitment to innovation, reliability, and excellence.
                                    Whether you are a startup seeking initial capital, an established business aiming
                                    for expansion, or a company looking to optimize your supply chain, ABNL is your
                                    trusted partner on this journey
                                </p>
                            </div>
                            <div class="sub-context shadow-sm m-1 p-4 col-lg-3">
                                <h5> Join Us in Building Success</h5>
                                <p>
                                    Whether you are a business owner, investor, or stakeholder in the economic
                                    ecosystem, we invite you to join us in building success. ABNL is more than a
                                    financial service provider – we are your ally in achieving your business goals.

                                </p>
                            </div>
                        </div>
                        <div class="aboutfoothold gap-5  container-fluid p-2 ps-4 pe-2 ">
                            <div class="text">
                                <h1 class=" fw-bold bg-opacity-10"><u>Contact Us</u><br> <span class="feather icon-phone"> 0814 585
                                        6651</span><br><small><span class="feather icon-mail">: abrabnigerialtd@gmail.com</span></small>
                                </h1>
                            </div>
                            <div class="buttons d-flex ms-auto">
                                <small style=" " class="align-self-end ms-auto">
                                    <u>Address</u><br> Opposite Michael Block Industry opposite Kosa Kosa filling Station. Lambata Niger
                                    State.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div *ngIf="landing" class="d-flex foothold gap-5  container-fluid p-2 ps-4 pe-4 ">
            <div class="text">
                <h1 class=" fw-bold bg-opacity-10"><u>Contact Us</u><br> <span class="feather icon-phone"> 0814 585
                        6651</span><br><small><span class="feather icon-mail">: abrabnigerialtd@gmail.com</span></small>
                </h1>
            </div>
            <div class="buttons d-flex ms-auto">
                <small style=" " class="align-self-end">
                    <u>Address</u><br> Opposite Michael Block Industry opposite Kosa Kosa filling Station. Lambata Niger
                    State.
                </small>
            </div>
        </div>
    </div>
</body>